/*
----
BODY
----
*/
$af-col-body: #fafafb;
/*
----
MAIN
----
*/
$af-col-purple: #6f1e51;
$af-col-lilac: #e9e6fc;
$af-col-light-t50: rgba(255, 255, 255, 0.5);
$af-col-light-t25: rgba(255, 255, 255, 0.25);
/*
-----
FONTS
-----
*/
$af-col-dark: rgba(0, 0, 0, 0.8);
$af-col-light: rgba(255, 255, 255, 1);
