@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

$af-sans-serif: "Open Sans", sans-serif;
$af-headline: "Dancing Script", cursive;

$af-font-light: 300;
$af-font-normal: 400;
$af-font-semibold: 500;
$af-font-bold: 700;
